#!/usr/bin/make -f
export PYBUILD_NAME=smart_dnd

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -Dm644 data/com.keithvassallo.SmartDnd.desktop debian/smart-dnd/usr/share/applications/com.keithvassallo.SmartDnd.desktop
	install -Dm644 data/com.keithvassallo.SmartDnd.metainfo.xml debian/smart-dnd/usr/share/metainfo/com.keithvassallo.SmartDnd.metainfo.xml
	install -Dm644 data/smart-dnd.service debian/smart-dnd/usr/lib/systemd/user/smart-dnd.service
	install -Dm644 data/icons/hicolor/scalable/apps/com.keithvassallo.SmartDnd.svg debian/smart-dnd/usr/share/icons/hicolor/scalable/apps/com.keithvassallo.SmartDnd.svg
	install -Dm644 data/icons/hicolor/symbolic/apps/com.keithvassallo.SmartDnd-symbolic.svg debian/smart-dnd/usr/share/icons/hicolor/symbolic/apps/com.keithvassallo.SmartDnd-symbolic.svg
