[Unit]
Description=Smart Do Not Disturb (DND) Daemon
Documentation=https://github.com/keithvassallomt/smart-dnd
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/smart-dnd daemon
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
